
.cuadro{
    margin: 10px;
    float: left;
    width: 300px;
    padding: 1rem;
    height: 600px;
    background-color: #BBFFFF;
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
}
.fruit{
    width: 100px;
    height: 100px;
    
}

#cesta{
    width: 300px;
    height: 550px;
    
}
p{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}